* {
  background-color: hsl(41, 100%, 5%);
}

h1,
h2,
h3,
p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: hsl(41, 100%, 50%);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  font-size: small;
  font-weight: 300;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 40px 0px 40px;
    align-items: center;
  }
header p {
  color: white;
  padding: 20px 20% 0px 20%;
  margin: auto;
  text-align: center;
}

pre {
  color: white;
  font-family: monospace;
  padding: 2%;
  background: linear-gradient(0deg, hsl(41, 100%, 50%), hsl(41, 100%, 10%));
  border-radius: 5px;
  margin: 10px;
}

code {
  background: transparent;
}



main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 2%;
}

.box {
}

.box p {
  padding-top: 10px;
  padding-left: 10px;
}

.box h2 {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.p_precode {
  border: 2px dashed white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}

.heart {
    color: red;
}

@media screen and (max-width: 991px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}
