/* CSS VARIABLES FOR COLORS */
:root {
  --orange: hsl(41, 100%, 50%);
  --black: hsl(41, 100%, 5%);
  --dark-orange: hsl(41, 100%, 10%);
}

* {
  background-color: var(--black);
}
body {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: var(--orange);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  font-size: small;
  font-weight: 300;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 40px 0px 40px;
    align-items: center;
  }
header p {
  color: white;
  padding: 20px 20% 0px 20%;
  margin: auto;
  text-align: center;
}

pre {
  color: white;
  font-family: monospace;
  padding: 2%;
  background: linear-gradient(0deg, var(--orange), var(--dark-orange));
  border-radius: 5px;
  margin: 10px;
}

code {
  background: transparent;
  user-select: all;
}



main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 2%;
  grid-auto-rows: 1fr;
}

.box {
  position: relative;
}

.box p {
  padding-top: 10px;
  padding-left: 10px;
}

.box h2 {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 2; 
}

.p_precode {
  border: 2px dashed white;
  position: relative;
  margin-top: -30px;
  padding-top: 20px;

}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}

.heart {
    color: red;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ANIMATION */

h2, .p_precode{
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.p_precode:hover,
 h2:hover {
  box-shadow: inset 0px 0px 8px 
var(--orange), 0 0 15px 
var(--orange);
}
          